
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800,100,200);

/*
.navbar, .navbar-default {
	background-color: rgb(20,53,226);
	border-color: rgb(20,53,226);
	
}
*/

/* general styles */
html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100;
	background-color: #003C6E;
	color: #FFF;
}

p {
    font-size: 18px;
}

span[style] {
    font-family: 'Open Sans', sans-serif !important;
}

body#home {
	background: none;
}

#header {
	margin-top: 0;
}

.coming-soon {
	padding-top: 25px; 
	padding-bottom: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#app_form {
	margin-top: 50px;
}

input, textarea {
	padding: 3px 0;
	border: 1px solid #ddd;
	background: none repeat scroll 0 0 #fafafa;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

input {
	width: 100%;
	margin-bottom: 30px;
}

textarea {
	width: 100%;
	margin-bottom: 30px;
}

.button {
	width: 150px;
}

video#bgvid {
	position: fixed; right: 0; top: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -9999;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}

.navbar {
    text-transform: uppercase;
    background-color: #49ADFF;

}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #FFF;
    background-color: #003561;
}


.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #003561;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #FFF;
}


/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#logo {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}

/* additional sections */
#home {
    background: url(../images/hero_1.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#about {
}

#services {
     background-color: #49ADFF;
     color: #ffffff;
 }
#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#services2 {
    background-color: #49ADFF;
    color: #ffffff;
}
#services2 .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#information {
    background: url(../images/hero_5.jpg) no-repeat center center fixed;
    display: table;
    height: 400px;
    position: relative;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#information2 {
    background: url(../images/hero_7.jpg) no-repeat center center fixed;
    display: table;
    height: 400px;
    position: relative;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#information .panel {
    opacity: 0.85;
}

#information2 .panel {
    min-height: 200px;
    opacity: 0.85;
}


#google_map {
    height: 500px;
}

footer {
    padding: 20px 0;
}
footer .glyphicon {
    color: #333333;
    font-size: 60px;
}
footer .glyphicon:hover {
    color: #306d9f;
}

.icon {
    width: 120px !important;
    height: 120px !important;
    /*border: 2px solid;*/
    /*-webkit-border-radius: 100%;*/
    /*-moz-border-radius: 100%;*/
    /*border-radius: 100%;*/
}

h2.panel-title {
    font-size: 30px;
}

.panel-body {
    color: #333;
}

